@model DAL.Domian.Entities.News
<div>
    <textbox style="display:block">@Model.Title</textbox>
    <textbox style="display:block">@Model.TextDirectory</textbox>
    <textbox style="display:block">@Model.PhotoDirectory</textbox>

    <textbox style="display:block">@Model.CreationDate</textbox>
   

</div>